main img{
    width: 200px;
    height: 200px;
}

#car{
 animation-name: cardriving;
 animation-duration: 8s;
 animation-fill-mode: forwards;
 animation-iteration-count: infinite;

}

@keyframes cardriving{
    0%{
        transform: translateX(0px);
    }
   48%{
        transform: translateX(500px); 
    }
    50%{
        transform: rotateY(180deg) translateX(-500px);
    }
    98%{
        transform: translateX(0px) rotateY(180deg);
    }
    100%{
        transform: translateX(0px);
    }
}