* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
}
nav {
    background-color: #da6788;
        color: rgb(255, 150, 171);
        padding: 15px;
}
#gallery {
    background-color: pink;
    display: grid;
    gap: 20px;
}

img{
    width: 400px;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    /*limit width for TVS etc */
    max-width: 2000px;
    /* center grid*/
    position: relative;
    margin: 0 auto;


}

#container div {
    min-height: 300px;
    background-color: palevioletred;
    height: fit-content;
}

.grid-item img {
    width: 50%;
}


/*tablet*/
@media screen and (max-width: 1024px) {
    #container {
        grid-template-columns: repeat(2, 1fr);
    }

}

/*mobile*/
@media screen and (max-width: 430px) {
    #container {
        grid-template-columns: 1fr;
    }

    body {
        background-color: rgb(120, 205, 216);
    }
}