* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: pink;
    font-family: Arial, Helvetica, sans-serif
}

#circle {
    width: 100px;
    height: 100px;
    background: rgb(150, 17, 52);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
  }

  #circle.change-me{
    background: palevioletred;
    transform: translateX(300px) scale(2.4) rotate(33deg) skewX(12deg);
  }

  /* .change-me