*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle{
    width: 200px;
    height: 200px;
    background: rgb(208, 157, 216);
    border-radius: 50%;
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
}

.square{
    border-radius: unset;
  
}