body{
    background-color: #F1ECE5;
}

nav{
    color: #545454;
H1{
    text-align: center;
}
}

main {
    text-align: center;
    color: #BD9E89;
}

footer{
    position: absolute;

    text-align: center;
    padding: 3px;
    background-color: #545454;
    color: #ced1d4;
}